@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
/* ImageListAnimations.css */

.spinner-container {
  position: absolute; 
  top: 65%; 
  left: 40%; 
}
@media (max-width: 768px) {
  .spinner-container {
    position: absolute; 
    top: 80%; 
    left: 40%; 
  }
}
}